:root {
  /* On force le thème sombre par défaut pour le portfolio */
  --background: #000000;
  --foreground: #ffffff;
  --primary: #c8f060;
  /* Ton vert signature */
  --secondary: #555555;
}

/* Suppression des marges par défaut et setup du layout */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  /* Lissage des polices */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  /* On utilise les variables de polices Next.js définies dans ton layout */
  font-family: var(--font-geist-sans), Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Le conteneur main prend tout l'espace entre la Nav et le Footer */
main {
  flex: 1;
}

/* Personnalisation de la barre de défilement (Scrollbar) pour le look "Dev" */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Sélection de texte aux couleurs du portfolio */
::selection {
  background-color: var(--primary);
  color: #000;
}